# Grow filesystem of overlay top partition

[Unit]
Description=Opinionated Debian Installer - Grow overlay top filesystem
Wants=systemd-repart.service
After=systemd-repart.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/zpool set autoexpand=on overlay_pool

[Install]
WantedBy=multi-user.target
